EXPO_PUBLIC_SUPABASE_URL=https://wjnfihnxuqoxabltnmsn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqbmZpaG54dXFveGFibHRubXNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMTAyNjYsImV4cCI6MjA4MDU4NjI2Nn0.JEBjipawhj3MJiqwxRrjSg7cF5ZQlmRisZcCjULXNxw